<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/footer.css">
</head>
<body>
    <footer>
        <div class="containerFooter">
            <div class="logoFooter">
                <img src="/assets/image/android-chrome-192x192.png" alt="logo PT Alkatra">
                <h1>PT ALKATRA</h1>
                <p>Didirikan sejak tahun 2013, dan berfokus dalam penyedia jasa keamanan</p>
            </div>
            <div class="alamatFooter">
                <h2>Kantor Pusat</h2>
                <p class="alamat1">Ruko Puri Mestika Blok i No.6, Baloi Permai, <br></p>
                <p class="alamat1">Batam Kota, Kota Batam, Kepulauan Riau, 29431 <br></p>
                <p class="telepon1">(0778) 4806115</p>
                <p class="telepon1">pt.alkatra@gmail.com</p>
            </div>
            <div class="medsosFooter">
                <a href="https://www.facebook.com/alkatrabatam" target="_blank"><img src="/assets/icon/icons8-facebook-100.svg" alt="Facebook PT Alkatra"></a>
                <a href="https://www.instagram.com/pt.alkatra" target="_blank"><img src="/assets/icon/icons8-instagram-100.svg" alt="Instagram PT Alkatra"></a>
                <a href="https://www.linkedin.com/company/pt-alkatra/" target="_blank"><img src="/assets/icon/icons8-linkedin-100.svg" alt="LinkedIn PT Alkatra"></a>
            </div>
            <div class="copyFooter">
                <p> &copy; 2025 PT ALKATRA</p>
            </div>
        </div>
    </footer>
</body>
</html>