<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/navbar.css">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/"><img src="/assets/image/android-chrome-192x192.png" alt="logo alkatra"></a>
        </div>
        <ul id="hiden">
            <li><a href="/index.html#layanan">Layanan</a></li>
            <li><a href="#tentang">Tentang</a></li>
            <li><a href="#">Dokumentasi</a></li>
            <li><a href="#footer-container">Hubungi Kami</a></li>
            <li><a href="/assets/src/CompanyProfile1.pdf" target="_blank">
                <button>
                    Company Profile
                </button></a></li>
        </ul>
        <div class="burger" onclick="showNav()">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <script src="/assets/js/nav.js"></script>
</body>
</html>

