@media only screen and (max-width: 768px) {
    /* responsive bagian index.html */
    .hero{
        grid-template-rows: 80px 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "."
        "heroKanan"
        "heroKiri";
        width: 100%;
        justify-content: center;
        padding-top: -20px;
    }
    .heroKiri{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    .heroKanan img{
        display: block;
        width: 200px;
        height: auto;
    }
    .layanan{
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .preTitle{
        justify-self: center;
        align-self: center;
    }
    .isiHero{
        font-size: 12px;
        padding: 5px;
    }
    .slogan h1{
        font-size: 20px;
    }
    
    /* responsive bagian tentang.html */
    .tentang1 p{
        font-size: 15px;
    }
    .visiMisi{
        display: flex;
        flex-direction: column;
    }

    .visiMisi h2{
        text-align: center;
    }

    .nilaiPerusahaan{
        display: flex;
        flex-direction: column;
    }

}