*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
                        ". ."
                        "heroKiri heroKanan";
    background:url(/assets/image/wp4312252.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.heroKiri{
    grid-area: heroKiri;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
                        "slogan"
                        "isiHero";
}
.slogan{
    grid-area: slogan;
    align-content: flex-end;
    padding-left: 40px;
    color: white;
}
.isiHero{
    grid-area: isiHero;
    padding: 40px;
    color: white;
}
.isiHero p{
    padding-bottom: 20px;
}
.heroKanan{
    grid-area: heroKanan;
    display: grid;
    grid-template-rows: 1fr;
    padding: 20px;
    justify-content: center;
}
.heroKanan img{
    width: 350px;
    height: auto;
    align-self: center;
}

.layanan{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "preTitle preTitle preTitle"
    "layanan1 layanan2 layanan3"
    ;
    padding: 20px;
    gap: 20px;
}

.preTitle{
    grid-area: preTitle;
    align-self: flex-start;
    justify-self: center;

}

.preTitle h1{
    font-size: 40px;
}

.layanan1{
    grid-area: layanan1;
    display: grid;
    grid-template-rows: auto 1fr 3fr;
    justify-items: center;
    text-align: center;
}

.layanan2{
    grid-area: layanan2;
    display: grid;
    grid-template-rows: auto 1fr 3fr;
    justify-items: center;
    text-align: center;
}

.layanan3{
    grid-area: layanan3;
    display: grid;
    grid-template-rows: auto 1fr 3fr;
    justify-items: center;
    text-align: center;
}