*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
#tentang {
    background-color:#1E1E1E;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.tentang1{
    display:flex;
    flex-direction: column;
    padding-top: 80px;
    justify-content: center;
}
.tentang1 h1{
    font-size: 30px;
    align-self: center;
    padding-bottom: 40px;
}
.tentang1 p{
    text-align: left;
    font-size: 20px;
    font-weight: 400;

}
.tentang1 ol{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 0 20px;
    list-style:decimal;

}
.navbar-container {
    background-color: white;
}

.visiMisi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
                "judul judul"
                "visi misi"
    ;
    gap: 20px;
    padding: 20px;
}
.visiMisi h2{
    grid-area: judul;
    justify-self: center;
}
.visi {
    justify-items: center;
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-style: inherit;
    border-radius: 10px;
    padding: 20px;
    grid-area: visi;
}

.misi{
    justify-items: center;
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-style: inherit;
    border-radius: 10px;
    padding: 20px;
    grid-area: misi;
}

.nilaiPerusahaan{
    display: flex;
    padding: 10px;
    gap: 20px;
}

.kepercayaan{
    background-color: white;
    color: black;
    justify-items: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.dedikasi{
    background-color: white;
    color: black;
    justify-items: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}
.kinerja{
    background-color: white;
    color: black;
    justify-items: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

.keunggulan{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;

}
